extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append styles 
    link(rel="stylesheet", href="/css/index.css")

block append content 
    if (action !== 'undefined' && action === 'deleted')
       
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-danger.text-center.common-size Blog silindi

    if (action !== 'undefined' && action === 'updated')
        
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-success.text-center Blog başarıyla güncellendi

    if blogs.length > 0
        
        .container.for-spacing
        
        .container.table-shadow.table-responsive
            
            table.table.table-hover
                
                thead.thead-light
                    
                    tr
                        
                        th(scope="col" colspan="4").mx-auto
                            
                            h5.text-center 
                                strong.common-text-color  YAZILARIM
                
                each blog in blogs.reverse()
                    
                    tbody.mx-auto  
                        
                        tr
                            
                            td
                                a(href=`/blog/${blog.urlExt}`).text-decoration-none.common-text-color
                                    span  
                                        strong.text-break #{blog.title}   
                            
                            td
                                p #{blog.date}
                            
                            td 
                                a.btn.btn-secondary-outline.border-0(href=`/admin/edit-blog/${blog.urlExt}`) 
                                    img(src="/img/edit.png" width="15" height="15")
                    
                            td
                                form(action='/admin/delete-blog' method='POST')
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    input(type='hidden' name='blogid' value=`${blog._id}`)
                                    button(type='submit').btn.btn-secondary-outline.border-0
                                        img(src="/img/delete.png" width="10" height="10")                       
    else
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-secondary.text-center Blog bulunamadı!