extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append content 
    if isAuthenticated
        if (action !== 'undefined' && action === 'deleted')
            .container(style="width: 25rem;").mx-auto
                .alert.alert-danger Blog favorilerinizden çıkarıldı

        if blogs.length > 0
        .container(style="height: 1rem;")
        .container
            .row
                .col-sm-5
                .col-sm-1
                    h5.mx-auto 
                        strong.colorChangeableTxt  FAVORİLERİM
                .col-sm-6
        each blog in blogs
            .container(style="height: 1rem;")
            .card(style="width: 40rem;").mx-auto 
                .card-body
                    .row
                        .col-sm-5 
                            a(href=`/blog/${blog.urlExt}`).text-decoration-none.colorChangeableTxt 
                                strong #{blog.title}   
                        .col-sm-5. 
                            #{blog.date}
                        .col-sm-1
                            form(action=`/delete-fav/${blog._id}` method='POST')
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                button(type='submit').btn.btn-secondary-outline
                                    img(src="/img/delete.png" width="10" height="10")
                    .container(style="height: 1rem;")
        else
            h1 Favorilerinizde blog mevcut değil!
