extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append content 
    if isAuthenticated
        if (action !== 'undefined' && action === 'deleted')
            .container.common-size
                .alert.alert-danger.text-center Blog favorilerinizden çıkarıldı

        if blogs.length > 0
            
            .container.for-spacing
            
            .container.common-size.table-responsive
                
                table.table.table-hover
                    
                    thead.thead-light
                        
                        tr
                            
                            th(scope="col" colspan="3").mx-auto
                                
                                h5.text-center 
                                    strong.common-text-color  FAVORİLERİM
                   
                    each blog in blogs
                        
                        tbody.mx-auto  
                            
                            tr
                                
                                td
                                    
                                    a(href=`/blog/${blog.urlExt}`).text-decoration-none.common-text-color
                                        strong #{blog.title}   
                                
                                td 
                                    p #{blog.date}
                                
                                td
                                    form(action=`/delete-fav/${blog._id}` method='POST')
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        button(type='submit').btn.btn-secondary-outline
                                            img(src="/img/delete.png" width="10" height="10")
        else
            .container.for-spacing

            .container.common-size.mx-auto
                .alert.alert-secondary Favorilenmiş blog bulunamadı!
