extends ../layouts/main-layout.pug

block content
    .container
        if errorMessage
            .container(style="width: 30rem;").mx-auto
                .alert.alert-danger.col-sm-7 !{errorMessage}
        br
        .card(style="width: 30rem;").mx-auto
            .card-body
                form(action=`/profile/${user.urlExt}` method="POST"  enctype="multipart/form-data")
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    input(type="file" name="image" id="custom-file-chooser" hidden)
                    .row 
                        .col-sm-2 
                        .col-sm-8
                            img(src=`/uploads/${user.imageUrl}` width='200' height='200').img-fluid 
                            button(type="button").btn.btn-secondary-outline
                                label(for="custom-file-chooser")
                                    img(src="/img/select.png" width="20" height="20")
                        .col-sm-2      
                    .row
                        .col-sm-4
                            label(for="name") Kullanıcı Adı
                        .col-sm-8
                            input.form-control(type="text" name="name" value= `${user.name}`)   
                    .row
                        .col-sm-4
                            label(for="email") Mail Adresi
                        .col-sm-8
                            input.form-control(type="text" name="email" value= `${user.email}` readonly)   
                    br
                    .row
                        .col-sm-2
                        .col-sm-5
                            input(type="submit" value="Profili Güncelle").btn.colorChangeable
                        .col-sm-5
                            a(href="/reset-password").btn.btn-link
                                img(src="/img/ch-pass.png" width="30" height="30" title="Şifrenizi değiştirmek için tıklayınız")