extends ../layouts/main-layout.pug

block content
    
    if errorMessage
        
        .container.common-size.mx-auto
            .alert.alert-danger.text-center !{errorMessage}
    
    .container.for-spacing
    
    .card.border-0.common-size.mx-auto
        .card-body
           
            form(action=`/profile/${user.urlExt}` method="POST"  enctype="multipart/form-data")
                
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                input(type="file" name="image" id="custom-file-chooser" hidden)
                
                .row 
                    .d-flex.justify-content-center
                        img(src=`/uploads/${user.imageUrl}` width='200' height='200').img-fluid 
                        button(type="button").btn.btn-secondary-outline.border-0
                            label(for="custom-file-chooser")
                                img(src="/img/select.png" width="20" height="20")     
                
                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="name") 
                                strong.common-text-color Kullanıcı Adı
                    .d-flex.flex-xs-column.justify-content-center    
                        div
                            input.form-control(type="text" name="name" value= `${user.name}`)   
                
                .container.for-spacing

                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="email") 
                                strong.common-text-color Mail Adresi
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            input.form-control(type="text" name="email" value= `${user.email}` readonly)   
                
                .container.for-spacing
                
                .row
                    .d-flex.justify-content-center
                        input(type="submit" value="Profili Güncelle").btn.common-content-color
                        a(href="/reset-password").btn.btn-link
                            img(src="/img/ch-pass.png" width="30" height="30" title="Şifrenizi değiştirmek için tıklayınız")