extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append content 
    if isAuthenticated
        if (action !== 'undefined' && action === 'deleted')
            div.alert.alert-danger Blog favorilerinizden çıkarıldı

        if blogs.length > 0
            .container 
                .row 
                    .col.col-sm-5 
                        strong BAŞLIK
                    .col.col-sm-5 
                        strong YAYINLANMA TARİHİ
                hr
            .container
                each blog in blogs
                    .row
                        .col.col-sm-6
                            a(href=`/blog/${blog.urlExt}`) #{blog.title}
                        .col.col-sm-5. 
                            #{blog.date}
                        .col.col-sm-1
                            form(action=`/delete-fav/${blog._id}` method='POST')
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                button(type='submit').btn.btn-secondary.btn-sm 
                                    img(src="/img/delete.png" width="10" height="10")
                    br
        else
            h1 Favorilerinizde blog mevcut değil!
