extends ../layouts/main-layout.pug

block content

    if errorMessage
       
        .container.common-size.mx-auto
            .alert.alert-danger.text-center !{errorMessage} 
    
    .container.for-spacing
    
    .card.border-0.common-size.mx-auto 
        .card-body

            form(action=`/reset-password/${passwordToken}` method="POST")
                
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                input(type="hidden" name="userId" value=`${userId}`)
                input(type="hidden" name="passwordToken" value=`${passwordToken}`)
                
                .container.for-spacing
                
                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="password").col-form-label Şifre
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            input.form-control#password(type="password" name="password")
                
                .container.for-spacing       
                
                .row
                    .d-flex.justify-content-center
                        input(type="submit" value="Şifreyi Değiştir").btn.common-content-color
