mixin createBlog(blog)
    
    .card.border-0.common-size.mx-auto 
        .card-body
            
            .flex-row
                .d-flex.justify-content-around
                    .flex-column 
                        .d-flex.justify-content-center
                            h4 
                                strong.common-text-color #{blog.title}   
                    .flex-column 
                        .d-flex.justify-content-end
                            div
                                if isAuthenticated
                                    if !(inFav)
                                    
                                        form(action=`/favourites/${blog._id}` method='POST')
                                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                            button(type='submit').btn.btn-secondary-outline.border-0
                                                img(src="/img/addFav.png" width="30" height="30")
                                    if inFav
                                        
                                        form(action=`/delete-fav/${blog._id}` method='POST')
                                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                            button(type='submit').btn.btn-secondary-outline.border-0
                                                img(src="/img/inFav.png" width="30" height="30")
            hr
            .flex-row
                .d-flex.justify-content-center
                    p !{blog.body}

            .flex-row
                .d-flex.justify-content-end
                    small.text-muted #{blog.date}

