mixin createBlog(blog)
    
    .card.border-0.card-blog.mx-auto 
        .card-body
            
            .flex-row
                .d-flex.justify-content-between.align-items-stretch
                    .col-9
                        div
                            article
                                strong.common-text-color.text-break.blog-title #{blog.title} 
                        
                        
                        div
                            small.text-muted.blog-footer #{blog.readMin } dakika  &#8226 #{blog.date}  
                    .col-3
                        .d-flex.justify-content-end.align-items-stretch
                            if isAuthenticated
                                if !(inFav)
                                
                                    form(action=`/favourites/${blog._id}` method='POST')
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        button(type='submit').btn.btn-secondary-outline.border-0
                                            img(src="/img/addFav.png" width="25" height="25")
                                if inFav
                                    
                                    form(action=`/delete-fav/${blog._id}` method='POST')
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        button(type='submit').btn.btn-secondary-outline.border-0
                                            img(src="/img/inFav.png" width="25" height="25")
                        
                        
        hr
        .container
            .text-break
                article !{blog.body}

        hr

