mixin createBlogFlow(blog)
    
    
    .card.border-0.common-size.mx-auto.index 
        a(href=`/blog/${blog.urlExt}`).text-decoration-none
            .card-body
                
                .flex-row
                    .d-flex.justify-content-center.align-items-center
                        article
                            p.text-break.common-text-color.index-title(href=`/blog/${blog.urlExt}`)
                                strong #{blog.title}  
                
                .flex-row
                    .d-flex.justify-content-end.align-items-start
                        small.text-muted.index-footer #{blog.readMin} dakika
                
                .flex-row
                    .d-flex.justify-content-end.align-items-start        
                        small.text-muted.index-footer #{blog.date}
            
    