mixin createBlogFlow(blog)

    .card.index.border-0.mx-auto
        a(href=`/blog/${blog.urlExt}`).text-decoration-none
            .card-body
                
                .flex-row
                    .d-flex.justify-content-center.align-items-stretch
                        div
                            article
                                p.text-break.common-text-color.index-title(href=`/blog/${blog.urlExt}`)
                                    strong #{blog.title}  
                    
                    .d-flex.justify-content-end.align-items-stretch
                        div
                            small.text-muted.index-footer #{blog.readMin } dakika  &#8226 #{blog.date}

            
    