include ../mixins/add-reply.pug
include ../mixins/add-comment.pug

mixin createComment(blog)
    
    if blog.comments.length > 0
        each comment in blog.comments
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
                .card.mx-auto.card-blog
                    .flex-row 
                        .d-flex.justify-content-between.align-items-center
                            
                            div
                                img.rounded-circle(src=(comment.user.imageUrl?`/uploads/${comment.user.imageUrl}`: `/uploads/default.png`) width="35" height="35" title=`${comment.user.name}`)
                            
                            div
                                .d-flex.justify-content-center.align-items-center
                                    if isAuthenticated
                                        div
                                            if user.email == comment.user.email || isAdmin
                                                form(action=`/delete-comment/${comment._id}` method='POST')
                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                    input(type="hidden" name="blogid" value=`${blog._id}`)
                                                    button(type='submit').btn.btn-secondary-outline.border-0
                                                        img(src="/img/delete.png" width="10" height="10")
                                        div
                                            button(type="button" data-bs-toggle="collapse" data-bs-target=`#replyArea${comment._id}` ).btn.btn-secondary-outline.border-0
                                                img(src="/img/reply.png" width="13" heigth="13")
                                        
                                        if comment.replies.length > 0
                                            div  
                                                button(type="button" data-bs-toggle="collapse" data-bs-target=`#replies${comment._id}` ).btn.btn-secondary-outline.border-0
                                                    img(src="/img/loadmore.png" width="13" heigth="13")
                        .d-flex.justify-content-around.align-items-center
                            .card-body.mx-auto
                                p.text-break.text-center #{comment.message}                               


                        .container.collapse(id=`replies${comment._id}`)            
                            if comment.replies.length > 0
                                each reply in comment.replies
                                    .flex.row
                                        .d-flex.justify-content-center.align-items-center
                                        
                                            div 
                                                img.rounded-circle(src=(comment.user.imageUrl?`/uploads/${comment.user.imageUrl}`: `/uploads/default.png`) width="35" height="35" title=`${reply.user.name}`)    
                                            
                                            div
                                                if isAuthenticated
                                                    if user.email == reply.user.email || isAdmin
                                                        form(action=`/delete-reply/${reply._id}` method='POST')
                                                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                            input(type="hidden" name="blogid" value=`${blog._id}`)
                                                            button(type='submit').btn.btn-secondary-outline.border-0
                                                                img(src="/img/delete.png" width="10" height="10")
                                        .d-flex.justify-content-around.align-items-center
                                            .text-break
                                                p.
                                                    #{reply.reply} 

                        .container.collapse(id=`replyArea${comment._id}`)    
                            +replyArea(blog, comment)                  
    else 