extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append styles 
    link(rel="stylesheet", href="/css/index.css")

block append content 
      
    if blogs.length > 0
        .container.for-spacing
        aside
            .card.list.border-0.mx-auto 
                .card-body.mx-auto
                    form(action="/list-by-category" method="POST")
                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                        .flex-row
                            .d-flex.justify-content.between.align-items-center
                                div.mx-1
                                    select(name="category" id="category").category
                                        option(value=`all` id="All") Tümü... 
                                        if categories.length > 0
                                            each category in categories
                                                option(value=`${category._id}` name=`${category._id}` id=`${category._id}`) #{category.categoryName} 

                                div    
                                    button(type="submit" value="Listele" id="Listele").btn.btn-sm.common-content-color Listele
        .container
            hr
        if errorMessage
            .container.for-spacing
            .container.mx-auto
                .alert.alert-warning.text-center !{errorMessage}

        section
            each blog in blogs.reverse()
                .flex-row
                    .d-flex.justify-content-center.p-2
                        +createBlogFlow(blog)
    
    else 
        
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-secondary.text-center Blog yazıları yüklenemedi. Lütfen sayfayı yenileyiniz.
